{% load static %}
<!DOCTYPE html>
<html ng-app="financial" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'angular-bootstrap/ui-bootstrap-csp.css' %}" rel="stylesheet">

    <link href="{% static 'nvd3/build/nv.d3.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'angular-preloaded/build/angular-preloaded.min.js' %}"></script>

    <script src="{% static 'highcharts-release/highcharts.js' %}"></script>
    <script src="{% static 'highcharts-release/highcharts-more.js' %}"></script>
    <script src="{% static 'highcharts-ng/src/highcharts-ng.js' %}"></script>
{#    <script src="{% static 'd3/d3.min.js' %}"></script>#}
{#    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>#}
{#    <script src="{% static 'angular-nvd3/dist/angular-nvd3.min.js' %}"></script>#}

    <script src="{% static 'bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

    {% block preload %}
    {% endblock %}

    <script src="{% static 'js/angular/apps.js' %}"></script>
    <script src="{% static 'js/angular/services.js' %}"></script>
    <script src="{% static 'js/angular/directives.js' %}"></script>

    <script src="{% static 'js/angular/controllers/select_controller.js' %}"></script>

    {% block add_scripts %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'overview' %}">Financial calculator</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-controller="SelectCtrl">
            <ul class="nav navbar-nav">
                <li {% ifequal page 'sector' %}class="active"{% endifequal %}><a href="javascript:;">Sector:</a></li>
{#                <li><a href="#about">About</a></li>#}
                <li>
                    <select selectpicker ng-model="current_sector" ng-options="sector.yahoo_industry for sector in sectors"></select>
                </li>
                <li><a href="javascript:;" ng-click="load_sector()">&gt;&gt;</a></li>
                <li {% ifequal page 'company' %}class="active"{% endifequal %}><a href="javascript:;">Company:</a></li>
                <li>
                    <select selectpicker ng-model="current_company" ng-options="company.company_name for company in companies"></select>
                </li>
                <li><a href="javascript:;"  ng-click="load_company()">&gt;&gt;</a></li>
{#                <li><a href="#contact">Contact</a></li>#}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% block content %}
        <div class="starter-template">

            <h1>Bootstrap starter template</h1>

            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a mostly barebones HTML document.</p>

        </div>
    {% endblock %}
</div>

</body>
</html>
