{% extends 'calculations/base.html' %}
{% load static %}

{% block preload %}
    {% if not is_empty %}
    <script type="text/preloaded" name="summary">
        {{ summary|safe }}
    </script>
    <script type="text/preloaded" name="investment">
        {{ investment|safe }}
    </script>
    <script type="text/preloaded" name="glassdoor">
        {{ glassdoor|safe }}
    </script>
    <script type="text/preloaded" name="amazon">
        {{ amazon|safe }}
    </script>
    <script type="text/preloaded" name="rnd_by_sales">
        {{ rnd_by_sales|safe }}
    </script>
    <script type="text/preloaded" name="patents">
        {{ patents|safe }}
    </script>
    <script type="text/preloaded" name="return_on_rnd">
        {{ return_on_rnd|safe }}
    </script>
    <script type="text/preloaded" name="patents_by_category">
        {{ patents_by_category|safe }}
    </script>
    <script type="text/preloaded" name="name">
        {"company":"{{ company.company_name }}","sector":"{{ company.sector }}" }
    </script>
    {% endif %}
{% endblock %}

{% block add_scripts %}
    <script src="{% static 'js/angular/controllers/company_controller.js' %}"></script>
{% endblock %}

{% block content %}
    {% if not is_empty %}
    <div class="container" ng-controller="CompanyCtrl">
        <div class="row">
            <div class="col-sm-9"><h1>{{ company.company_name }}</h1></div>
            <div class="col-sm-3">
                <table class="table">
                    <tr>
                        <th>ISIN</th>
                        <td>{{ company.companyoutput.ISIN }}</td>
                    </tr>
                    <tr>
                        <th>Ticker</th>
                        <td>{{ company.companyid }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="summary" class="highlight">
                    <div>
                        <small>
                            Overall rankings are based on a combination of the level investment companies make in
                            R&D
                            and the return they generate. Companies are ranked againsta global universe of <strong>{{ company.sector }}</strong>
                            businesses.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div id="circle_company_overview">
                                <span>((summary.company))%</span>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div id="rectangle">
                                <div id="circle_sector" style="left:((summary.sector-7))%"><small>((summary.sector))%</small></div>
                                <div id="circle_company" style="left:((summary.company-7))%"></div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <table class="table legend_table">
                                    <tr>
                                        <td class="marker">
                                            <div id="circle_company_mini"></div>
                                        </td>
                                        <td>company</td>
                                    </tr>
                                    <tr>
                                        <td class="marker">
                                            <div id="circle_sector_mini"></div>
                                        </td>
                                        <td>sector</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6"></div>

            </div>
        </div>
        <div class="margin">Tracking the value of innovation investment.</div>
        <div class="margin">
            <highchart id="chart1" config="investmentChartConfig"></highchart>
        </div>
        <div class="margin">The chart below plots the level of investment companies make in R&D and the return they have
            generated on that investment. A trade-off typically exists between the level and profitability of
            innovation investments; companies able to maintain positions closer to the top right corner are
            in the strongest positions
        </div>
        <div class="margin tabset-container">
            <tabset>
                <tab heading="People &amp; culture">
                    <div class="margin">
                        People innovate. A stable, motivated workforce that perceives innovation to be valued in
                        organisational culture underpins companies’ long term innovation success.
                    </div>
                    <div class="margin">
                        <highchart id="chart2" config="glassdoorChartConfig"></highchart>
                    </div>
                    <div class="margin">We scan а range of well known employee
                        and job review sites to track the
                        satisfaction workers express towards the
                        companies they work for, on a normalised
                        1 (low) to 5 (high) scale
                    </div>
                </tab>
                <tab heading="Investment">
                    <div class="margin">
                        А willingness and ability to deploy financial and organisational resources to innovation is
                        critical...
                    </div>
                    <div class="margin row">
                        <div class="col-lg-6">
                            <highchart id="chart3" config="rndBySalesChartConfig"></highchart>
                            We track reported spending on research
                            and development relative to sales. This
                            chart is empty if we are unable to find
                            data.
                        </div>
                        <div class="col-lg-6">
                            <highchart id="chart4" config="patentsBySalesChartConfig"></highchart>
                            We track the number of patents companies
                            register using public patent databases. We
                            focus on patents registered in the US to
                            avoid double-counting the same patents
                            registered in several countries
                        </div>
                    </div>
                </tab>
                <tab heading="Focus">
                    <div class="row container margin">
                        <p>
                            The patents companies register are assigned to consistent categories. Tracking the types of
                            patents companies register highlights shifts in the focus of innovation efforts or strategic
                            moves into new product areas</p>
                    </div>
                    <div class="row margin">
                        <h4>Patents approvals by category.</h4>
                        <highchart id="chart4" config="patentsByCategoriesChartConfig"></highchart>
                    </div>
                    <div class="row container margin">
                        We track the categories to which the patents companies register are assigned, using public
                        patent databases to monitor patent approvals and focusing on the US market to avoid double
                        counting the same patent registered with numerous international offices. We consider that
                        most major innovations will be registered in the US market.
                    </div>
                </tab>
                <tab heading="Reviews">
                    <div class="margin">
                        Innovation has value if it helps companies to develop products consumers value...
                    </div>
                    <div class="margin">
                        <highchart id="chart6" config="amazonChartConfig"></highchart>
                    </div>
                    <div class="margin">We monitor the reviews customers
                        provide to companies’ products via well
                        known e-commerce and review sites,
                        normalised on a 1 (worst) to 5 (best) scale
                    </div>
                </tab>
                <tab heading="Return on R&amp;D">
                    <div class="margin">
                        <highchart id="chart7" config="returnOnRnDConfig"></highchart>
                    </div>
                    <div class="margin">We measure Return on R&D by dividing (i) the increase in earnings attributable
                        to companies'
                        innovation efforts (assuming that absent innovation the company’s earnings would fade at a
                        sector specific rate and adjusting earnings for margin cyclical variations) by (ii) the capital
                        invested in R&D, if it had been capitalised and amortised over a sector-specific useful life.
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    {% else %}
        <div class="container">
            <h2>{{ company.company_name }}</h2>
            <h3>Financial data for this company still not provided</h3>
        </div>
    {% endif %}
{% endblock %}