{% extends 'calculations/base.html' %}
{% load static %}

{% block add_scripts %}
    <script src="{% static 'js/angular/controllers/select_controller.js' %}"></script>
    <script src="{% static 'js/angular/controllers/patents_controllers.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content">
    <div ng-controller="SelectCtrl">
        <br/>
        <br/>
        <br/>
        <br/>
        Sector:
        <select selectpicker ng-model="current_sector" ng-options="sector.yahoo_industry for sector in sectors"></select>
        <a class="btn btn-primary" ng-click="load_sector()">&gt;&gt;&gt;&gt;</a>
        Company:
        <select selectpicker ng-model="current_company" ng-options="company.company_name for company in companies"></select>
        <a class="btn btn-primary" ng-click="load_company()">&gt;&gt;&gt;&gt;</a>
    </div>

    <br/>
    <br/>
    <br/>

        <div ng-controller="TabsetCtrl">
            <tabset>
                <tab select="set_active('patents')" heading="Patents">
                    <div class="content" ng-controller="PatentChartCtrl">
                        <div ng-if="mode=='company'">
                            <div><br/><br/>
                                <accordion close-others="oneAtATime" ng-if="chart_company_patents_data">
                                    <accordion-group
                                            heading="Company's patents count grid. Patents ever: (( patents_data.patents_ever ))">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Year</th>
                                                <th>Total</th>
                                                <th>((LEGEND_PATENTS['A'] ))</th>
                                                <th>((LEGEND_PATENTS['B']))</th>
                                                <th>((LEGEND_PATENTS['C']))</th>
                                                <th>((LEGEND_PATENTS['D']))</th>
                                                <th>((LEGEND_PATENTS['E']))</th>
                                                <th>((LEGEND_PATENTS['F']))</th>
                                                <th>((LEGEND_PATENTS['G']))</th>
                                                <th>((LEGEND_PATENTS['H']))</th>
                                            </tr>
                                            <tr ng-repeat="(year, value) in company_patents_data.patents_per_year">
                                                <th>((year))</th>
                                                <td>((value.total))</td>

                                                <td ng-if="value.categories.A">((value.categories.A)) (
                                                    ((value.categories.A/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.A">-</td>

                                                <td ng-if="value.categories.B">((value.categories.B)) (
                                                    ((value.categories.B/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.B">-</td>

                                                <td ng-if="value.categories.C">((value.categories.C)) (
                                                    ((value.categories.C/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.C">-</td>

                                                <td ng-if="value.categories.D">((value.categories.D)) (
                                                    ((value.categories.D/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.D">-</td>

                                                <td ng-if="value.categories.E">((value.categories.E)) (
                                                    ((value.categories.E/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.E">-</td>

                                                <td ng-if="value.categories.F">((value.categories.F)) (
                                                    ((value.categories.F/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.F">-</td>

                                                <td ng-if="value.categories.G">((value.categories.G)) (
                                                    ((value.categories.G/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.G">-</td>

                                                <td ng-if="value.categories.H">((value.categories.H)) (
                                                    ((value.categories.H/value.total*100 | number))% )
                                                </td>
                                                <td ng-if="!value.categories.H">-</td>
                                            </tr>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>
                            <div ng-if="chart_company_patents_data">
                                <h2>Company's patents count per year</h2>
                                <highchart id="chart1" config="chartConfig"></highchart>
{#                                <nvd3 options="chart_company_patents_options" data="chart_company_patents_data"></nvd3>#}
                            </div>
                        </div>
                        <div ng-if="mode=='sector'">
                            <div><br/><br/>

                                <table class="table table-bordered">
                                    <tr>
                                        <th>Company/total patents</th>
                                        <th>Patents ever</th>
                                        <th ng-repeat="year in sector_years">((year))</th>
                                    </tr>
                                    <tr ng-repeat="company in sector_companies">
                                        <td>((company.company_name))</td>
                                        <td>((company.patents_ever))</td>
                                        <td ng-repeat="year in sector_years"
                                            ng-bind="get_company_value(year,company.pk)">{% comment %}(( get_company_value(year,company.pk) )){% endcomment %}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% comment %} <div ng-if="patents_data">
                        <h2>Patents divided by sales value per year</h2>
                        <nvd3 options="chart_patents_by_sales_options" data="chart_patents_by_sales_data"
                              api="chart_patents_by_sales_api"></nvd3>
                    </div>{% endcomment %}
                    </div>
                </tab>

                <tab select="set_active('rnd')" heading="R&amp;D">
                    <div class="content" ng-controller="RnDChartCtrl">
                        <div ng-if="mode=='company'">
                            <div ng-if="chart_rnd_data">
                                <h2>Company's Research and Development divided by sales per year</h2>
                                <nvd3 options="chart_rnd_options" data="chart_rnd_data"
                                      api="chart_rnd_api"></nvd3>
                            </div>
                        </div>
                        <div ng-if="mode=='sector'">
                            <div><br/><br/>

                                <table class="table table-bordered">
                                    <tr>
                                        <th>R&amp;D by Sales</th>
                                        <th ng-repeat="year in sector_years">((year))</th>
                                    </tr>
                                    <tr ng-repeat="company in sector_companies">
                                        <td>((company.company_name))</td>
                                        <td ng-repeat="year in sector_years"
                                            ng-bind="get_company_value(year,company.pk)">{% comment %}(( get_company_value(year,company.pk) )){% endcomment %}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </tab>

                <tab heading="Coming soon">
                    Coming soon...
                </tab>
            </tabset>
        </div>
    </div>
{% endblock %}