{% extends 'calculations/base.html' %}
{% load static %}

{% block preload %}
{#    <script type="text/preloaded" name="overview_chart_data">#}
{#        {{ overview_chart_data|safe }}#}
{#    </script>#}
{% endblock %}

{% block add_scripts %}
{#    <script src="{% static 'js/angular/controllers/overview_controller.js' %}"></script>#}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Data import</h2>
        {% if messages %}
                {% for message in messages %}
                        <p class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}text-danger{% else %}text-success{% endif %}">{{ message|safe }}</p>
                {% endfor %}
        {% endif %}
        <form action="{% url 'import_companies' %}" method="post" enctype="multipart/form-data">
        <label class="control-label">Import companies list</label>
        <input id="input-1a" type="file" name="companies" class="file" data-show-preview="false" >
        <h4>.csv file structure:</h4>
        <table class="table table-bordered">
            <tr>
                <th>Companyid</th>
                <th>Company name</th>
                <th>Morningstar page</th>
                <th>Morningstar tools page</th>
                <th>Yahoo page</th>
                <th>Sector</th>
            </tr>
            <tr>
                <td>AAPL</td>
                <td>Apple</td>
                <td>http://www.morningstar.com/stocks/XSWX/ROG/quote.html</td>
                <td>http://tools.morningstar.co.uk/uk/stockreport/default.aspx?SecurityToken=0P0000A5WF]3]0]E0WWE$$ALL</td>
                <td>https://uk.finance.yahoo.com/q?s=AAPL&ql=1</td>
                <td>Electronic Equipment</td>
            </tr>
        </table>
            <p class="text-danger">All fields required for parsing.</p>
        <input class="btn btn-primary" type="submit"/>
            {% csrf_token %}
        </form><br/><br/>

        <form action="{% url 'import_financial' %}" method="post" enctype="multipart/form-data">
        <label class="control-label">Import financial data for companies</label>
        <input id="input-1a" type="file" name="companies" class="file" data-show-preview="false" >
        <h4>.csv file structure:</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Companyid</th>
                    <th>rate</th>
                    <th>year</th>
                    <th>morningstar_currency</th>
                    <th>morningstar_currency_units</th>
                    <th>yahoo_currency</th>
                    <th>yahoo_currency_units</th>
                    <th>sales</th>
                    <th>research_and_development</th>
                    <th>operating_income</th>
                    <th>net_income</th>
                    <th>depreciation_and_amortisation</th>
                    <th>net_ppe</th>
                    <th>intangible_assets</th>
                    <th>total_assets</th>
                    <th>total_stockholder_equity</th>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>2345.53</td>
                    <td>1990</td>
                    <td>USD</td>
                    <td>millions</td>
                    <td>USD</td>
                    <td>b</td>
                    <td>2345.53</td>
                    <td>341.54</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                    <td>2345.53</td>
                </tr>
            </table>
            <p class="text-danger">Fields Companyid, year required</p>
            <p class="text-warning">Fields research_and_development, sales, operating_income, total_assets, *_currency_units, *_currency required for calculations</p>
            <p class="text-warning">Other fields for now can be empty</p>
        <input class="btn btn-primary" type="submit"/>
            {% csrf_token %}
        </form>



        {#        <div class="overviewChart" ng-controller="OverviewChartCtrl">#}
{#            <highchart id="chart1" config="chartConfig"></highchart>#}
{#        </div>#}
    </div>
{% endblock %}