{% extends 'calculations/base.html' %}
{% load static %}

{% block preload %}
    <script type="text/preloaded" name="overview_chart_data">
        {{ overview_chart_data|safe }}
    </script>
{% endblock %}

{% block add_scripts %}
    <script src="{% static 'js/angular/controllers/overview_controller.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Overview</h2>
        <div class="overviewChart" ng-controller="OverviewChartCtrl">
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>
    </div>
{% endblock %}