{% extends 'calculations/base.html' %}
{% load static %}

{% block preload %}
    {% if not is_empty %}
    <script type="text/preloaded" name="overview_chart_data">
        {{ overview_chart_data|safe }}
    </script>
    <script type="text/preloaded" name="rnd_by_sales">
        {{ rnd_by_sales|safe }}
    </script>
    <script type="text/preloaded" name="patents_by_sales">
        {{ patents_by_sales|safe }}
    </script>
    <script type="text/preloaded" name="sector_name">
        {"name":"{{ sector_name }}"}
    </script>
    <script type="text/preloaded" name="patents_by_category">
        {{ patents_by_category|safe }}
    </script>
    <script type="text/preloaded" name="return_on_rnd">
        {{ return_on_rnd|safe }}
    </script>
    {% endif %}
{% endblock %}

{% block add_scripts %}
    <script src="{% static 'js/angular/controllers/sector_controller.js' %}"></script>
{% endblock %}

{% block content %}
    {% if not is_empty %}
    <div class="container">
        <h2>{{ sector_name }}</h2>

        <div class="v" ng-controller="ChartsCtrl">
            <div class="row margin">
                <div class="col-lg-6">
                    <highchart id="chart1" config="overviewChartConfig"></highchart>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <div class="row container margin">A willingness and ability to deploy financial and organisational resources
                to innovation is
                critical...
            </div>
            <div class="row margin">
                <div class="col-lg-6">
                    <highchart id="chart2" config="rndBySalesChartConfig"></highchart>
                    <span>We track reported spending on research and development relative to sales. This chart is empty if we are unable to find data.</span>
                </div>
                <div class="col-lg-6">
                    <highchart id="chart3" config="patentsBySalesChartConfig"></highchart>
                    <span>We track the number of patents companies register using public patents databases. We focus on patents registared in the US to avoid double-counting the same patents registered in several countries.</span>
                </div>
            </div>
            <div class="row container margin">
                <p>
                    The patents companies register are assigned to consistent categories. Tracking the types of
                    patents companies register highlights shifts in the focus of innovation efforts or strategic
                    moves into new product areas</p>
            </div>
            <div class="row margin">
                <highchart id="chart4" config="patentsByCategoriesChartConfig"></highchart>
            </div>
            <div class="row container margin">
                We track the categories to which the patents companies register are assigned, using public
                patent databases to monitor patent approvals and focusing on the US market to avoid double
                counting the same patent registered with numerous international offices. We consider that
                most major innovations will be registered in the US market.
            </div>
            <div class="row container margin">
                The return companies generate on the investment they make is the ultimate test of the
                effectiveness of their R&D efforts...
            </div>
            <div class="row margin">
                <highchart id="chart5" config="returnOnRnDConfig"></highchart>
            </div>
            <div class="row container margin">
                We measure Return on R&D by dividing (i) the increase in earnings attributable to companies'
                innovation efforts (assuming that absent innovation the company's earnings would fade at a
                sector specific rate and adjusting earnings for margin cyclical variations) by (ii) the capital
                invested in R&D, if it had been capitalised and amortised over a sector-specific useful life.
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <h2>{{ sector_name }}</h2>
            <h3>Financial data for this sector still not provided</h3>
        </div>
    {% endif %}
{% endblock %}