body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    float: none;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 8px;
}

.overviewChart{
    width: 600px;
    height: 600px;
}

.margin{
    margin-top: 15px;
    margin-bottom: 15px;
}

#rectangle {
    position: relative;
    margin-top: 38px;
    left: 5px;
	width: 300px;
	height: 25px;
	background: rgba(67,67,72,0.8);
}

#circle_company {
	width: 40px;
	height: 40px;
	background: rgba(124, 181, 236, 0.8);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    position: absolute;
    top:-7px;
    z-index: 2;
    /*left: 20%;*/
}

#circle_company_mini {
	width: 10px;
	height: 10px;
	background: rgba(124, 181, 236, 0.8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#circle_sector_mini {
	width: 10px;
	height: 10px;
	background: rgba(144,237,125,0.8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

.marker{
    width: 15px;
    vertical-align: middle !important;
}
.legend_table{
    border: 0 !important;
    margin-top: 10px;
}

#circle_sector {
    width: 40px;
    height: 40px;
    background: rgba(144,237,125,0.8);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: -7px;
    left: 15%;
    z-index: 1;

    line-height: 40px;
    text-align: center;
    color: #272727;
}

#summary {
    background-color: rgba(222, 222, 222, 1);
    padding: 10px 10px 10px 10px;
    border-spacing: 2px;
    border-color: rgb(198, 198, 198);;
}

#circle_company_overview {
    width: 80px;
    height: 80px;
    background: rgba(124, 181, 236, 0.5);
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    position: relative;
    margin-top: 10px;

}

#circle_company_overview {
    color: #272727;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    border: 1px solid gray;
}

.tabset-container{
    min-height: 700px;
}