@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,800,700italic,700,600italic,600,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding-left: 300px; }

.dashboard-page {
  background-color: #e8eaf6;
  padding-top: 65px; }
  .dashboard-page .navbar-toggle {
    display: block;
    float: left;
    margin-left: 10px; }
  .dashboard-page .navbar-default {
    background-image: none;
    background-color: #f4f4f6;
    border-bottom: 2px solid #d0d6f6;
    width: calc(100% - 300px);
    right: 0;
    left: auto; }
  .dashboard-page #dashMenu {
    background-color: #051a37; }
  .dashboard-page .navmenu-brand {
    background-color: #243c8c;
    margin-top: 0;
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px; }
    .dashboard-page .navmenu-brand:hover, .dashboard-page .navmenu-brand:focus {
      background-color: #243c8c;
      color: #fff; }
  .dashboard-page .navmenu-default .navmenu-nav > li.active {
    border-left: 2px solid #243c8c; }
    .dashboard-page .navmenu-default .navmenu-nav > li.active > a {
      background-color: #030d1c; }
      .dashboard-page .navmenu-default .navmenu-nav > li.active > a:hover, .dashboard-page .navmenu-default .navmenu-nav > li.active > a:focus {
        color: #fff; }
    .dashboard-page .navmenu-default .navmenu-nav > li.active > ul {
      background-color: #051A37;
      margin-left: -2px; }
  .dashboard-page .navmenu-default .navmenu-nav > li > a {
    font-size: 1.2em;
    color: #fff;
    padding: 15px 10px 15px 100px;
    background-image: url("../img/data-analytics.png");
    background-repeat: no-repeat;
    background-position: 40px 16px; }
  .dashboard-page .navmenu-default .navmenu-nav > li:nth-child(2) > a {
    background-image: url("../img/bars-graphic1.png"); }
  .dashboard-page .navmenu-default .navmenu-nav > li:last-child > a {
    background-image: url("../img/icon1.png"); }
  .dashboard-page .navmenu-default .navmenu-nav .open > a {
    background-color: transparent; }
    .dashboard-page .navmenu-default .navmenu-nav .open > a:hover, .dashboard-page .navmenu-default .navmenu-nav .open > a:focus {
      color: #fff; }
  .dashboard-page .navmenu-default .navmenu-nav .dropdown-menu {
    background-color: transparent; }
    .dashboard-page .navmenu-default .navmenu-nav .dropdown-menu > li.active a {
      background-color: #030d1c; }
    .dashboard-page .navmenu-default .navmenu-nav .dropdown-menu > li > a {
      background-image: url("../img/menu-dot.png");
      background-position: 85px 12px;
      padding-left: 110px;
      padding-top: 5px; }
  .dashboard-page .dashboard-card-content {
    background-color: #FFF;
    width: 100%; }
  .dashboard-page .dashboard-card-heading {
    color: #292929;
    background-color: #FFF;
    padding: 10px 30px; }
    .dashboard-page .dashboard-card-heading h2 {
      text-transform: uppercase;
      margin-top: 0; }
    .dashboard-page .dashboard-card-heading p {
      font-size: 1.2em;
      font-weight: 400; }
  .dashboard-page .dashboard-card-footer {
    background-color: #FFF;
    padding: 10px 30px 1px 30px; }
  .dashboard-page div[class*='buble'] > div, .dashboard-page div[class*='column'] > div, .dashboard-page div[class*='line'] > div {
    max-width: 100%; }
  .dashboard-page div[class*='buble'], .dashboard-page div[class*='column'], .dashboard-page div[class*='line'] {
    height: 100%;
    width: 100%;
    position: relative; }
  .dashboard-page .column-people-company > div {
    position: absolute !important;
    top: 50%;
    margin-top: -130px; }
  .dashboard-page div[class^='col-'] {
    height: 100%; }
  .dashboard-page .form-group {
    padding-top: 7px;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 30px; }
    .dashboard-page .form-group label {
      font-weight: normal;
      font-size: 1em;
      color: #898989;
      text-transform: uppercase; }
    .dashboard-page .form-group select {
      border-radius: 3px;
      border-color: #e8eaf6;
      padding: 5px;
      color: #d1d1d1;
      font-size: 16px;
      background-color: #fafafb;
      min-width: 230px; }

@media screen and (max-width: 991px) {
  body {
    padding-left: 0; }
  .dashboard-page .navbar-default {
    width: 100%;
    left: 0; }
  .dashboard-page .navmenu-fixed-left {
    z-index: 1040;
    top: 50px; } }
