{% load static %}
<!DOCTYPE html>
<html ng-app="financial" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Analitics - Home</title>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jasny-bootstrap.min.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
{#    <!--[if lt IE 9]>#}
{#      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
{#    <![endif]-->#}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'angular-preloaded/build/angular-preloaded.min.js' %}"></script>
{#	<script src="{% static 'js/vendor/jasny-bootstrap.min.js' %}"></script>#}
    <script src="{% static 'bootstrap-select/bootstrap-select.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/highcharts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/highcharts-more.js"></script>

{#    <script src="{% static 'js/chart.js' %}"></script>#}
    <script src="{% static 'highcharts-ng/src/highcharts-ng.js' %}"></script>
    {% block preload %}
    {% endblock %}
    <script src="{% static 'js/angular/apps.js' %}"></script>
    <script src="{% static 'js/angular/services.js' %}"></script>
    <script src="{% static 'js/angular/directives.js' %}"></script>

    <script src="{% static 'js/angular/controllers/select_controller.js' %}"></script>
    {% block add_scripts %}
    {% endblock %}




</head>
<body class="dashboard-page">
	<div id="dashMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#">Logo</a>
     <ul class="nav navmenu-nav">
        <li class="active"><a href="#" data-chart="compare-sectors">Compare sectors</a></li>
        <li class="dropdown open sector-dropdown ">
        	<a href="/sector-anal/" class="dropdown-toggle" data-toggle="dropdown" data-chart="sector-analysis">Sector analysis</a>
			<ul class="dropdown-menu keep-open navmenu-nav">
            <li><a href="#" data-chart="rank-companies">Rank companies</a></li>
            <li><a href="#" data-chart="patent-sector">Patent focus</a></li>
            <li><a href="#" data-chart="return-sector">Return on R&amp;D</a></li>
            <li><a href="#" data-chart="investment-sector">Investment trends</a></li>
          </ul>
        </li>
        <li class="dropdown open company-dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-chart="company-analysis">Company analysis</a>
 					<ul class="dropdown-menu keep-open navmenu-nav">
            <li><a href="#" data-chart="people-company">People &amp; culture</a></li>
            <li><a href="#" data-chart="investment-company">Investment trends</a></li>
            <li><a href="#" data-chart="patent-company">Patent focus</a></li>
            <li><a href="#" data-chart="customer-company">Customer reviews</a></li>
            <li><a href="#" data-chart="return-company">Return on R&amp;D</a></li>
          </ul>
        </li>
      </ul>
  </div>

	<div class="navbar navbar-default navbar-fixed-top"  ng-controller="SelectCtrl">

	  <button type="button" class="navbar-toggle hidden-md hidden-lg" data-toggle="offcanvas" data-target=".navmenu">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>

	  <div class="form-group clearfix">
	  	<label for="sector-select"> sector</label>
	  	<select  id="sector-select"  ng-model="current_sector" ng-options="sector.yahoo_industry for sector in sectors"></select>
	  </div>

	  <div class="form-group clearfix">
	  	<label for="company-select"> company</label>
	  	<select  id="company-select" ng-model="current_company" ng-options="company.company_name for company in companies"></select>
	  </div>
	</div>

    <div class="container-fluid" id="chart-wrapper">
        {% block chart_container %}
        {% endblock %}
    </div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>