{% extends 'calc/base.html' %}
{% load static %}

{% block preload %}
    <script type="text/preloaded" name="overview_chart_data">
        {{ overview_chart_data|safe }}
    </script>
{% endblock %}

{% block add_scripts %}
    <script src="{% static 'js/angular/controllers/overview_controller.js' %}"></script>
{% endblock %}

{% block chart_container %}
				<div class="dashboard-card-heading">
					<h2>title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque non rerum, error tenetur voluptate et doloremque harum obcaecati, ipsa odit, saepe similique fugiat aliquid quasi! Veritatis animi magni totam, rerum.Veritatis animi magni totam, rerum.</p>
				</div>
				<div class="dashboard-card-content" ng-controller="OverviewChartCtrl">
{#					<div class="buble-compare">#}
                        <div class="overviewChart" style="height: 100%;">
                            <highchart id="chart1" config="chartConfig" style="height: 100%;"></highchart>
                        </div>
{#                    </div>#}
				</div>
				<div class="dashboard-card-footer">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex aperiam amet ea deleniti nesciunt quae ducimus ipsam, doloremque, minus quibusdam.</p>
				</div>
{% endblock %}